.dropDown1 ,.dropDown2{
  width: 200px; 
  height: 30px; 
  padding: 5px; 
  font-size: 14px; 
  
} 
.wholeDetails{
  align-items: center;
}
.vs{
  height: 10em;
  width: 10em;
}
.nameDiv{
  font-size: 2em;
}
.pokemon1Details, .pokemon2Details{
  border: 2px solid gray;
  border-radius: 2em;
  width: 20em;
  padding: 0.5rem;
}

/* .pokemonName{
  font-size: 0.75em;
}
.listOfNames{
  height: 10em;
  overflow: scroll;
} */