.dropDown1 ,.dropDown2{
  width: 21.6em; 
  height: 20em; 
  padding: 5px; 
  font-size: 14px; 
  overflow: scroll;
  background: rgb(80, 79, 79);
  opacity: 0.87;
  color: white;
  cursor: pointer;
} 
.pokemonName:hover {
  background: rgb(141, 140, 140) !important;
}
.wholeDetails{
  align-items: center;
}
.vs{
  height: 10em;
  width: 10em;
}
.nameDiv{
  font-size: 2em;
}
.pokemon1Details, .pokemon2Details{
  border: 2px solid gray;
  border-radius: 2em;
  width: 20em;
  padding: 0.5rem;
  width: 27em;
}
.pokemonTypeCompare{
  height: auto;
}
.winner{
  display: none;
}
.rotate{
  transition: transform 0.9s ease;
  transform: rotateY(-1080deg);
}
/* .pokemonName{
  font-size: 0.75em;
}
.listOfNames{
  height: 10em;
  overflow: scroll;
} */